<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <!--/*/ <th:block th:include="common/headerinc :: head"></th:block> /*/-->
</head>
<body>
  <!--/*/ <th:block th:include="common/nav :: header"></th:block> /*/-->
  <div class="jumbotron">
      <div class="row text-center">
          <div class="">
              <h2>Spring Boot WEB项目</h2>
              <h3>
                  技术栈：SpringBoot+Thymeleaf
              </h3>

          </div>
      </div>
      <div class="row text-center">
          <img src="http://www.thymeleaf.org/images/thymeleaf.png" style="display:inline-block;max-width:60px;height:auto;"/>
      </div>
  </div>
</body>
</html>