<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base_layout">
<!--/*@thymesVar id="_csrf" type="org.springframework.security.web.csrf.CsrfToken"*/-->
<!--/*@thymesVar id="error" type="java.util.Optional<String>"*/-->
<head>
    <title>Log in</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-4">
        <h1>Log in</h1>
        <form role="form" th:action="@{/doLogin}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div>
                <label for="username">用户名：</label>
                <input type="text" name="username" id="username" required="required" autofocus="autofocus"/>
            </div>
            <div>
                <label for="password">密 码：</label>
                <input type="password" name="password" id="password" required="required"/>
            </div>
            <div>
                <label for="remember-me">记住我？</label>
                <input type="checkbox" name="remember-me" id="remember-me"/>
            </div>
            <button type="submit">登陆</button>
        </form>
        <p th:if="${error.isPresent()}">The email or password you have entered is invalid, try again.</p>
    </div>
</div>
</body>
</html>