<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base_layout">
<head>
    <title>登陆</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-4">
        <h1>登陆系统</h1>
        <form role="form" th:action="@{/doLogin}" method="post">
            <div>
                <label for="username">用户名：</label>
                <input type="text" name="username" id="username" required="required" autofocus="autofocus"/>
            </div>
            <div>
                <label for="password">密 码：</label>
                <input type="password" name="password" id="password" required="required"/>
            </div>
            <div>
                <label for="remember-me">记住我？</label>
                <input type="checkbox" name="remember-me" id="remember-me"/>
            </div>
            <button type="submit">登陆</button>
        </form>
    </div>
</div>
</body>
</html>