<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<p>
    <a href="/product/add">添加</a>
</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>产品名</th>
        <th>生产商</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr th:each="prod: ${prodList}">
        <td th:text="${prod.id}">ID</td>
        <td th:text="${prod.prodName}">Oranges</td>
        <td th:text="${prod.prodCompany}">Company</td>
        <td>
            <a th:href="${ '/product/detail/' + prod.id}">详情</a>
            <a th:href="${ '/product/del/' + prod.id}">删除</a>
        </td>
    </tr>
</table>

</body>
</html>