<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="common/headerinc :: head"></th:block> /*/-->
    <title>添加产品</title>
</head>
<body>
<!--/*/ <th:block th:include="common/nav :: header"></th:block> /*/-->
<div class="container">
    <h3>添加产品详情：</h3>
    <form th:action="@{/product/add}" method="post">
        <p>编号：<input type="text" name="id"/></p>
        <p>名称：<input type="text" name="prodName"/></p>
        <p>厂商：<input type="text" name="prodCompany"/></p>
        <p>描述：<input type="text" name="prodDesc"/></p>
        <p>
            <button type="submit">提交</button>
            <button type="reset">重置</button>
        </p>
    </form>
    <br/>
    <a th:href="@{/product/list}">返回列表</a>
</div>
</body>
</html>